---
Language: Cpp

IndentWidth: 4
UseTab: Always
ColumnLimit: 100

BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

NamespaceIndentation: All

AccessModifierOffset: -4
BreakBeforeBraces: Custom

BraceWrapping:
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true

  AfterClass: false
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: false

  BeforeLambdaBody: true
  IndentBraces: true

  SplitEmptyRecord: true
  SplitEmptyFunction: true