<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Default configuration setup
    Don't change here
 -->
<Head name="default">

    <Config>
        <Line type="tabs" count="4"/>
        <Font name="arial"/>
        <Cursor type="line" blink="def"/>
        <Window-Screen size="10"/>
    </Config>

    <Theme color="dim">
        <Sidebar color="#"/>
        <Background color="#"/>
        <Window color="#"/>

        <Utilities color="#"/>
        <Cursor color="#"/>
        <Font color="#"/>
    </Theme>

    <Hotkeys name="default">
        <New-File type="Keyboard" Shortcut="ctrl+n"/>
        <Open-File type="Keyboard" Shortcut="ctrl+o"/>
        <Save-File type="Keyboard" Shortcut="ctrl+s"/>
        <Goto-File type="Keyboard" Shortcut="ctrl+e"/>

        <Open-Folder type="Keyboard" Shortcut="ctrl+shift+o"/>
        <Close-Folder type="Keyboard" Shortcut="ctrl+shift+k"/>

        <Sidebar type="Keyboard" Shortcut="ctrl+b"/>
        <Undo type="Keyboard" Shortcut="ctrl+u"/>
        <Redo type="Keyboard" Shortcut="ctrl+y"/>
        
        <Select-All type="Keyboard" Shortcut="ctrl+a"/>
        <Copy type="Keyboard" Shortcut="ctrl+c"/>
        <Paste type="Keyboard" Shortcut="ctrl+v"/>
        <Cut type="Keyboard" Shortcut="ctrl+x"/>

        <Search type="Keyboard" Shortcut="ctrl+q"/>
        <Search-Text type="Keyboard" Shortcut="ctrl+f"/>
        <Snippets type="Keyboard" Shortcut="ctrl+space"/>

        <New-Tab type="Keyboard" Shortcut="ctrl+t"/>
        <Close-Tab type="Keyboard" Shortcut="ctrl+w"/>
        <Move-Forward-Tab type="Keyboard" Shortcut="ctrl+PG_UP"/>
        <Move-Backward-Tab type="Keyboard" Shortcut="ctrl+PG_DW"/>

        <Inspect type="Hybrid" Shortcut="ctrl+left_Ms"/>
    </Hotkeys>

</Head>